.btn-choco{
    background-color:#442900;color:azure;border-color:azure;
}
.btn:hover{
    color:rgb(235, 80, 45);background-color:rgb(223, 218, 70);font-weight:bolder;border-color:chocolate;
}
.text-choco{
    color:#442900;}.bg-choco{background-color:#442900;
}
.bg-choco{
    background-color:#442900!important
}

a.bg-choco:focus,a.bg-choco:hover,button.bg-choco:focus,button.bg-choco:hover
{
    background-color:#311e00!important
}
.form-control-mod 
{
    display:block;width:100%;height:calc(1.5em + 0.75rem + 2px);padding:0.375rem 0.75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:transparent;background-clip:padding-box;border-bottom:1px solid #23364a;border-top:none;border-left:none;border-right:none;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}.form-control-mod:focus{color:#495057;background-color:transparent;outline:0;border-radius:0.25rem;box-shadow:0 0 0 0.2rem rgba(99, 60, 3, 0.541);}
.form-control-mod::-webkit-input-placeholder{
    color:#66696d;opacity:1;text-align:center;
}